.container {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 20px;
  padding-top: 0px;
  font-size: 40px;

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      font-size: 30px;
      align-items: center;
      margin-left: 10px;
    }
  }

  i:nth-child(2) {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 400ms ease;

    &:hover {
      transform: rotate(-180deg);
    }
  }
}
