.table {
  color: #cbcbcb;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  input {
    border: none;
    width: 100%;
  }
}

.price {
  display: inline;
  color-scheme: dark;
  background-color: transparent;
}
